html, body
{
	margin: 0;
	padding: 0;
	height: 100%;

	background: #020202;
	color: #f5f5f5;

	font-family: "Open Sans", "Ubuntu", Tahoma, Verdana, Arial, Sans-Serif;
}

a
{
	color: #f5f5f5;
}

.sysmessage /* h1, h2 */
{
	font-weight: 300;
	margin: 1px;
	text-align: center;
}

#logo
{
	font-size: 36pt;
	font-weight: 100;
	font-family: "Alegreya Sans SC", "Open Sans", "Ubuntu", Tahoma, Verdana, Arial, Sans-Serif;
	box-sizing: border-box;
	margin: 10px;
	height: 55px;
	text-align: center;
}

#top
{
	position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: #020202;

    z-index: 999;
}

#player
{
	height: 70px;
	width: 800px;
	margin: 0 auto;
}

#player-control
{
	height: 50px;
	width: 50px;
	margin: 0 auto;
	cursor: pointer;
}

.player-paused
{
	background-size: 65px 65px !important;
	background: url('play.png') no-repeat center;
	background-position: center!important;
}

.player-running
{
	background-size: 65px 65px !important;
	background: url('stop.png') no-repeat center;
	background-position: center!important;
}

main
{
	margin: 0 auto;
	width: 800px;
	padding-top: 140px;
	padding-bottom: 75px;
	box-sizing: border-box;
}

#chat
{
	position: relative;
    left: 0;
    right: 0;
    overflow: auto;
}

#chat-controls
{
	box-sizing: border-box;
	height: 70px;
	background: #020202;
	width: 800px;
	padding: 5px;

	position: fixed;
    bottom: 0;
}


#chat-unauthorized
{
	text-align: center;
}

#chat-settings, #chat-message-field
{
	display: none;
}

#chat-text
{
	background: #020202;
	border: 0;
	font-family: "Open Sans", "Ubuntu", Tahoma, Verdana, Arial, Sans-Serif;
	width: 100%;
	color: #f5f5f5;
}

.chat-message-time
{
	display: none;
}

.chat-message-id
{
	color: #959595;
}