/*

	KKomnata Web Service
	Made by Asterleen @ 2018
	https://asterleen.com

*/

html, body
{
	margin: 0;
	padding: 0;
	height: 100%;

	background: #020202;
	color: #f5f5f5;

	font-family: "Open Sans", "Ubuntu", Tahoma, Verdana, Arial, Sans-Serif;
}

a
{
	color: #f5f5f5;
}

.sysmessage /* h1, h2 */
{
	font-weight: 300;
	margin: 1px;
	text-align: center;
}

#logo
{
	font-size: 36pt;
	font-weight: 100;
	font-family: "Alegreya Sans SC", "Open Sans", "Ubuntu", Tahoma, Verdana, Arial, Sans-Serif;
	box-sizing: border-box;
	margin: 10px;
	height: 55px;
	text-align: center;
}

#top
{
	position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: #020202;

    z-index: 999;
}

#player
{
	height: 70px;
	width: 800px;
	margin: 0 auto;
}

#player-control
{
	height: 50px;
	width: 50px;
	margin: 0 auto;
	cursor: pointer;
}

.player-paused
{
	background-size: 65px 65px !important;
	background: url('play.png') no-repeat center;
	background-position: center!important;
}

.player-running
{
	background-size: 65px 65px !important;
	background: url('stop.png') no-repeat center;
	background-position: center!important;
}

main
{
	margin: 0 auto;
	width: 800px;
	padding-top: 140px;
	padding-bottom: 75px;
	box-sizing: border-box;
}

#chat
{
	position: relative;
    left: 0;
    right: 0;
    overflow: auto;
}

#chat-controls
{
	border-top: 1px solid #303030;
	width: 100%;
	height: 45px;
}

#chat-panel
{
	box-sizing: border-box;
	height: 70px;
	background: #020202;
	width: 800px;
	padding: 5px;

	position: fixed;
	bottom: 0;
}


#chat-unauthorized
{
	text-align: center;
}

#chat-settings-button, #chat-message-field
{
	display: none;
}

#chat-settings-button
{
	width: 30px;
	background: transparent url(settings.png) center no-repeat;
	background-size: auto auto;
	background-size: 25px 25px !important;
	cursor: pointer;
}

.chat-message
{
	box-sizing: border-box;
	padding: 1px;
	border-left: 2px solid transparent;
	padding-left: 2px;
}

#chat-text
{
	background: #020202;
	border: 0;
	font-family: "Open Sans", "Ubuntu", Tahoma, Verdana, Arial, Sans-Serif;
	width: 100%;
	height: 30px;
	color: #f5f5f5;
	resize: none;
}

.chat-message-time
{
	display: none;
}

.chat-message-id
{
	color: #959595;
}

.chat-message-name
{
	cursor: pointer;
}

.chat-message-mention
{
	text-decoration: none;
	color: #c0c0f0;
}

/* --------------------------- */

#chat-settings-overlay
{
	position: fixed;
	margin: 0; padding: 0;
	top: 0; left: 0;
	width: 100%;
	height: 100%;
	background: rgba(2, 2, 2, 0.9);
	display: none;
	z-index: 100;
}

#chat-settings
{
	width: 400px;
	height: 150px;
	margin-left: -200px;
    margin-top: -75px; 
	top: 50%;
	left: 50%;

	display: none;
	position: fixed;
	padding: 5px;
	font-size: 12pt;

	background: rgba(2, 2, 2, 0.9);

	z-index: 101;
}

#settings-close
{
	font-size: 9pt;
	margin: 0;
	color: #020202;
	text-align: right;
	background: #c0c0c0;
}

#settings-close a
{
	color: #020202;
}

#chat-settings label
{
	cursor: pointer;
}

.settings-control
{
	margin-bottom: 5px;
}

#chat-settings input, #chat-settings select
{	
	color: #f5f5f5;
	font-family: "Open Sans", "Jura", Verdana, Tahoma, Arial, Sans-Serif;
	font-size: 11pt;
}

#chat-settings input[type=text], #chat-settings select
{
	border-bottom: 1px solid #505050;
	background: rgba(2, 2, 2, 0.9);
	border: none;
	display: block;
	padding: 4px;
	-webkit-appearance: none;
	outline: none;
	width: 100%;
	box-sizing: border-box;
}

#chat-settings select
{
	display: inline;
	width: auto;
}